.title-bar {
  background-color: #FFC512;
}

.title-bar .title-bar__title {
  color: #000133;
  font-family: Iosevka;
}

.side-bar .side-bar__menu .side-bar__link:hover, .side-bar .side-bar__menu .side-bar__link.side-bar__link--active {
  color: #B30049;
}

h1 {
  color: #EBA80F;
  font-family: Iosevka;
  font-size: 2em;
}

h2 {
  color: #0082C9;
  font-family: Iosevka;
  font-size: 1.5em;
  border: 3px solid #DFDFDF;
  padding: 4px;
  text-align: center;
  box-shadow: 0px 0px 15px #888888;
}

h3 {
  color: #B30049;
  font-family: Iosevka;
  font-size: 1.2em;
}

.p, .kpn-style p:not([class]) {
  font-family: Iosevka;
}

body, h1 {
  font-family: Iosevka;
}

.h2, .kpn-style h2:not([class]) {
  font-family: Iosevka;
  font-weight: 800;
}

.tile {
  box-shadow: 1px 1px 6px #6f6f6f;
}

a[rel=prev] {
  display: none;
}

a[rel=next] {
  display: none;
}

.card-title {
  text-align: center;
  font-size: 1.2em;
}

.card-title h4 {
  text-align: center;
}

.card-footer {
  text-align: center;
}

.card-footer .btn {
}

.badge {
  font-size: 50%;
}

.card-img-top {
  width: 100%;
  height: 10vw;
  object-fit: cover;
  margin-top: 0.5em;
}

.md-typeset a, a {
  color: #0082C9;
}

.md-tabs__link {
  color: #F8E7A5;
}

.md-tabs__link--active {
  font-weight: 900;
  font-size: 1.6em;
}

figure {
    display: inline-block;
}
figure img {
    vertical-align: top;
}
figure figcaption {
    text-align: center;
}

.md-icon, .md-source__repository {
  color: #ffffff;
}

.admonition p {
  font-size: 120%;
 }
